{% extends 'layout.html' %}

{% block title %}Our Services - {% endblock %}

{% block content %}
Strategy
We advise our clients on technology, UI and UX and base recommendations on current and future trends.


Design
-UI
-Mobile and Desktop
-Responsive and Liquid layouts

Development
We choose the right technologies based on the needs of each project.
Some of technologies that we've had experience with
Application and website development
Python - Django, Flask, Pyramid
PHP - Symfony2
RabbitMQ, Redis, MySQL, Postgres, MongoDB
Frontend Jquery, MooTools, ExtJS
Implementing best practices


{% endblock %}
