@import "normalize.scss";
@import "m_mixins.scss";

$min_width_tablet: 480px;

html, body {
  height: 100%;
  background: #f9faf4;
}

.site-head {
    z-index: 10;
}
.nav {
    font-size: 15px;
    background: #23282e;


    li {
        list-style: none;
        border-bottom: 1px #394049 solid;
    }
    a {
        display: block;
        padding: 10px 5px 10px 15px;
        text-decoration: none;
        color: #b9c4d3;
        font-weight: 600;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);

        &:hover {
            color: #fff;
        }
    }
}

.logo_cnt {
    padding: 15px;
    background: #18222f;
}
.logo_btn {
    display: block;
    width: 128px;
    height: 128px;
    background: url(../../img/sprite.png) 0 0 no-repeat;
    @include ir;

    @include transition(0.3s, all);

    &:hover {
        opacity: 0.6;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        zoom: 1;
    }
}


.wrapper {
    max-width: 980px;
    font-family: proxima-nova, 'Helvetica Neue', sans-serif;
}
.main-content {
    padding: 20px;
}

footer {
    $footer_color: #333;
    padding: 0 0 0 45px;
    color: $footer_color;
    text-shadow: 0 -1px rgba(0,0,0,0.4);
    font-size: 11px;
    line-height: 2;

    a {
        color: $footer_color;
        text-decoration: none;
        -webkit-transition-property: color;
        -webkit-transition-duration: 0.2s, 0.2s;
        -moz-transition-property: color;
        -moz-transition-duration: 0.2s, 0.2s;

        &:hover {
            color: #efefef;
        }
    }

    abbr[title] {
        border-bottom: none;
    }
}
#contact {
    /*float: left;
        width: 280px;
        margin: 0 196px 0 0;*/
}

.ss_cont {
    position: relative;
    min-height: 100%;
    z-index: 0;
}

.ss__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    &.active {
        z-index: 1;
    }
}

.home-head {
    position: relative;
    z-index: 0;
    @include shadow(0, 1px, 10px, rgba(0,0,0,0.5));

    .ss__slide {
        display: none;
        right: 0;
        bottom: 0;
    }
    .ss__slide1 {
        display: block;
    }

    .ss__prev, .ss_next, .ss__counter-cont, .ss__counter {
        display: none;
    }

    .bg {
        display: none;
    }
    .info {
        position: absolute;
        top: 300px;
        left: 0;
        @include opacity(0);
    }
}

@media screen and (min-width: 600px) {
    .bg_lnk {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        -webkit-perspective: 400px;
        -moz-perspective: 400px;
        -webkit-perspective-origin: 50% 50%;
        -moz-perspective-origin: 50% 50%;

        span {
            display: block;
            position: relative;
            padding: 0 2px;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;

            &:after {
                content: attr(data-title);
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                padding: 0 2px;
                color: #fff;
                background: hsl(206, 80%, 30%);
                -webkit-transform-origin: 50% 0%;
                -moz-transform-origin: 50% 0%;
                -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
                -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            }
        }

        &:hover span {
            background: #111;
            -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
            -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
        }
    }

    .site-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .logo_cnt {
            position: absolute;
            top: 20px;
            left: 20px;
            @include shadow(0, 1px, 10px, rgba(0,0,0,0.5));
            @include transition(0.4s);
            @include border_radius(3px);

            &:hover {
                @include no_shadow;
            }
            &:active {
                @include shadow_inner(0, 0, 7px, rgba(0,0,0,0.9));
            }
        }

        .nav {
            position: absolute;
            top: 60px;
            right: 0;
            font-family: proxima-nova, 'Helvetica Neue', sans-serif;
            font-size: 18px;
            line-height: 18px;
            padding: 0 10px 0 5px;
            @include shadow_inner(0, 0, 5px, rgba(0,0,0,0.8));

            li {
                float: left;
                display: block;
                border-bottom: none;

                &:after {
                    content: '/';
                    display: block;
                    float: left;
                    margin: 0 10px;
                    padding: 10px 5px;
                    line-height: 18px;
                    color: #777;
                }
                &:last-child:after {
                    content: none;
                }
            }

            a {
                display: block;
                float: left;
                padding: 10px 5px 10px 10px;
                @include transition(0.7s);

                &:hover {
                    text-shadow: 0 0 6px #87b4c5;
                    @include transition(0.2s);
                }

            }

        }
    }

    .home-head {
        min-height: 100%;

        .ss__prev, .ss__next {
            display: block;
            position: absolute;
            top: 37%;
            width: 30px;
            height: 170px;
            cursor: pointer;
            z-index: 200;
            background: #252f3d;
            @include transition(0.3s);
            @include opacity(0.1);

            .icn {
                display: block;
                position: absolute;
                top: 38%;
                left: 23%;
                content: '';
                width: 13px;
                height: 43px;
                @include sprite(0, -164px);
            }

            &:active {
                @include opacity(0.5);
                @include shadow_inner(0, 2px, 2px, rgba(0,0,0,0.5))
            }
            &:hover {
                @include opacity(0.8);
                @include transition(0.1s);
            }
        }
        .ss__prev {
            left: 0;
            border-radius: 0 5px 5px 0;
            -moz-border-radius: 0 5px 5px 0;
            -webkit-border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
        }
        .ss__next {
            right: 0;
            border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;

            .icn {
                background-position: -12px -164px;
                left: auto;
                right: 20%;
            }
        }
        .ss__counter-cont {
            display: block;
            position: absolute;
            height: 20px;
            width: 100%;
            bottom: 7px;
            text-align: center;
            z-index: 2;
        }
        .ss__counter {
            display: inline-block;
            height: 20px;
            width: 200px;
        }
        .ss__slot {
            display: inline-block;
            width: 19px;
            height: 23px;
            @include sprite(-14px, -135px);
            cursor: pointer;

            &.active {
                background-position: 5px -135px;
            }
        }

        .bg {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
    	    background-size: cover;
        }
    }
}

@media screen and (min-width: 1000px) {

    .home-head {
    }
}