{% if is_pjax %}
    {% extends 'layout_pjax.html' %}
{% else %}
    {% extends 'layout.html' %}
{% endif %}


{% block title %}Our Work - {% block project_page_title %}{% endblock %} - {% endblock %}

{% block body_class %}b_work{% endblock%}

{% block content %}

<div class="wrapper main-content page-body grad_cont">
    <h1>{% block project_title %}Our Work{% endblock %}</h1>

    <div class="work-ind">
        {% block project_url %}http://northforked.org{% endblock %}

        {% block project_content %}
        
        {% endblock %}
    </div>
</div>
{% endblock %}
