{% if is_pjax %}
    {% extends 'layout_pjax.html' %}
{% else %}
    {% extends 'layout.html' %}
{% endif %}


{% block title %}Our Work - {% block project_page_title %}{% endblock %} - {% endblock %}

{% block body_class %}b_work{% endblock%}

{% block content %}

<div class="wrapper main-content page-body grad_cont">
    <h1>{{ project_title }}</h1>
    <div class="year">{{ project_year }}</div>
    
    
    {#<div class="group">
        Overview
        Responsive Layout
        Tech Specs
    </div>#}
    <div class="work-ind">
        {% if project_url %}
            <a href="{{ project_url }}" target="_blank">View Website</a>
        {% endif %}

        {% block project_content %}
        
        {% endblock %}
    </div>
</div>
{% endblock %}
