{%- if is_pjax -%}
    {% extends 'layout_pjax.html' %}
{%- else -%}
    {% extends 'layout.html' %}
{%- endif -%}


{% block title %}Our Work - {{ project_page_title }} - {% endblock %}

{% block body_class %}b_work{% endblock%}

{% block content %}

<div class="wrapper main-content page-body grad_cont work-content">
    <div class="prev_next">
        <a class="lnk-a pn-lnk" href="{{ url_for('work_client', client=prev_next.prev.url) }}" title="{{ prev_next.prev.client }}: {{ prev_next.prev.project }}">Previous</a> &nbsp;
        <a class="lnk-a pn-lnk" href="{{ url_for('work_client', client=prev_next.next.url) }}" title="{{ prev_next.next.client }}: {{ prev_next.next.project }}">Next</a>
    </div>

    <h1>{{ project_title }}</h1>

    <div class="project-info">
        {{ project_name }} ({{ project_year }})        
    </div>

    <div class="proj_images">
        <div class="proj_images_mask">
            <div class="ss__cont">
                {% block project_slideshow %}

                {% endblock %}
            </div>
            <a class="ss__prev"><span class="icn"></span></a>
            <a class="ss__next"><span class="icn"></span></a>
        </div>
        <div class="ss__counter-cont">
            <div class="ss__counter"></div>
        </div>
    </div>

    <div class="group">
        <div class="info">
            
        </div>
        <div class="work-ind">
            
        </div>
    </div>
    <div class="group">
        <div class="info">
            Client: {{ project_title }}<br>
            Project: {{ project_name }}<br>
            Year: {{ project_year }}<br>
            {% block project_info %}
                
            {% endblock %}

            {% if project_url %}
                <a href="{{ project_url }}" target="_blank">Launch {% if project_url_label %}{{ project_url_label }}{% else %}Website{% endif %}</a><br>
            {% endif %}
            
            {% block project_quote %}
            &nbsp;
            {% endblock %}
        </div>
        <div class="work-ind">
            {% block project_content %}

            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
