{% extends 'work/base.html' %}

{% set meta_description = "Case Study - Galleray, a social application for showcasing and selling artwork." %}

{% set project_page_title = "Galleray" %}
{% set project_title = "Galleray" %}
{% set project_name = "Social Application" %}
{% set project_url = "http://galleray.com" %}
{% set project_year ="2011" %}

{% block project_slideshow %}
    <img src="/static/img/work/galleray/1.jpg" class="ss__slide ss__slide1" alt="Sign-in">
{% endblock %}

{% block project_content %}

<p>Galleray is a web application designed to showcase and sell artwork. Artists have the ability to set up galleries and to promote individual works within the Galleray community. Visitors can curate their own exhibitions and purchase favorite works. In limited beta, the site plans on launching later this year</p>

<p>Mathematic was hired by <a href="http://www.3atmospheres.com" target="_blank">3atmospheres</a> for front-end development and later in the project, back-end development. 3atmospheres handled back-end development and project management and <a href="http://ginlanemedia.com" target="_blank">Gin Lane Media</a> was hired for design.</p>

<p>Tooling used:</p>

<ul>
    <li>Sass for modularization of stylesheets and to ease cross-browser development.</li>
    <li><a href="http://django.com" target="_blank">Django</a> Python Framework</li>
</ul>

{% endblock %}
