{% extends 'work/base.html' %}

{% set project_page_title = "Galleray" %}
{% set project_title = "Galleray" %}
{% set project_name = "Social Application" %}
{% set project_url = "http://galleray.com" %}
{% set project_year ="2011" %}

{% block project_slideshow %}
    <img src="/static/img/work/galleray/1.jpg" class="ss__slide ss__slide1" alt="Sign-in">
{% endblock %}

{% block project_content %}

<p>Mathematic was hired by <a href="http://www.3atmospheres.com">3atmospheres</a> for front-end development and later in the project, back-end development. We worked with 3atmospheres for back-end devenlopment and project management and <a href="http://ginlanemedia.com">Gin Lane Media</a> for design.</p>

<p>Tooling used:</p>

<ul>
<li>Sass for modularization of stylesheets and to ease cross-browser development.</li>
<li><a href="http://django.com">Django</a> Python Framework</li>
</ul>

{% endblock %}
