{% extends 'work/base.html' %}

{% block project_page_title %}Galleray{% endblock %}
{% block project_title %}Galleray{% endblock %}
{% block project_url %}http://galleray.com{% endblock %}
{% block project_year %}2011{% endblock %}

{% block project_content %}

<a href="http://galleray.com">Galleray</a>
<p>Galleray</p>

<p>Mathematic was hired by <a href="http://www.3atmospheres.com">3atmospheres</a> for front-end development and later in the project, back-end development. We worked with 3atmospheres for back-end devenlopment and project management and <a href="http://ginlanemedia.com">Gin Lane Media</a> for design.</p>

<p>Tooling used:</p>

<ul>
<li>Sass for modularization of stylesheets and to ease cross-browser development.</li>
<li><a href="http://django.com">Django</a> Python Framework</li>
</ul>

{% endblock %}
