{% extends 'work/base.html' %}

{% set project_page_title = "Grubot" %}
{% set project_title = "Grubot" %}
{% set project_name = "Social Application" %}
{% set project_url = "" %}
{% set project_year ="2011" %}

{% block project_slideshow %}
    <img src="/static/img/work/grubot/1.jpg" class="ss__slide ss__slide1" alt="Sign-up">
    <img src="/static/img/work/grubot/2.jpg" class="ss__slide ss__slide2" alt="Home">
{% endblock %}

{% block project_content %}
{#Grubot was social network for restaurants.#}

{% endblock %}
