{% extends 'work/base.html' %}

{% set meta_description = "Case Study - The MAKERS Initiative, a collaboration between PBS and AOL." %}

{% set project_page_title = "MAKERS" %}
{% set project_title = "MAKERS" %}
{% set project_name = "Website" %}
{% set project_url = "http://www.makers.com" %}
{% set project_year ="2012" %}

{% block project_slideshow %}
    <img src="/static/img/work/makers/1.jpg" class="ss__slide ss__slide1" alt="MAKERS - Homepage Masthead">
    <img src="/static/img/work/makers/2.v1.jpg" class="ss__slide ss__slide2" alt="MAKERS - Moments Page">
    <img src="/static/img/work/makers/3.jpg" class="ss__slide ss__slide3" alt="MAKERS - Profile Page">
{% endblock %}

{% block project_content %}
<p>The MAKERS project is a historic video initiative between PBS and AOL featuring exclusive access to trailblazing women such as Hillary Clinton, Marissa Mayer, Condoleezza Rice, Sheryl Sandberg and Ellen DeGeneres.</p>

<p><a href="http://www.makers.com">MAKERS.com</a> uses an adaptive and fluid layout to assure that the site looks good on any device and at any screen resolution. Built to take advantage in the latest that web browsers have to offer, text, images and design elements are dynamically scaled on the fly for optimum readability. Older browsers are supported through pre-processing the responsive styling and generating fallback stylesheets.</p>

<p>Mathematic was hired by <a href="http://www.ginlanemedia.com" target="_blank">Gin Lane Media</a> for front-end development including the implementation of a responsive layout. Gin Lane oversaw design, creative direction and project management. Back-end development was provided by <a href="http://www.asheavenue.com" target="_blank">Ashe Avenue</a>.</p>


<p>Tooling used:</p>

<ul>
    <li>Rapid prototyping using Flask and Heroku</li>
    <li>Sass for modularization of stylesheets and to ease cross-browser development.</li>
    <li>Javascript modularization/namespacing using AMD/require.js</li>
    {#<li>Testing using <a href="http://visionmedia.github.com/mocha">Mocha</a></li>#}
    <li><a href="https://github.com/rquigley/memphis" target="_blank">Memphis</a>, our Javascript utility framework for creating responsive and decoupled applications.</li>
</ul>

{% endblock %}

{% block project_quote %}
<blockquote>
    Ryan and Mathematic were extremely professional, informative and solution orientated from start through launch every day on call. The project was extremely complex with many moving parts and technical components. Their experience, insight and attention to detail helped bring to life not only a functional and stable digital video platform, but one that is beautiful and is receiving tremendous feedback and engagement on.<br>
    <span class="byline">&mdash; Emmett Shine, President, Gin Lane Media</span>
</blockquote>
{% endblock %}