{% extends 'work/base.html' %}

{% set project_page_title = "North Fork Education Initiative" %}
{% set project_title = "North Fork Education Initiative" %}
{% set project_url = "http://northforked.org" %}
{% set project_year ="2011" %}

{% block project_content %}
<p>The North Fork Education Initiative (NFEI) is a new nonprofit on the North Fork of Long Island whose mission is to create educational programs and opportunities with a focus on arts, environment and community.</p>

<p>Mathematic was brought on for strategy, design and development.</p>

<p>Tooling used:</p>

<ul>
<li><a href="http://symfony.com">Symfony2</a> PHP Framework</li>
<li>Mathematic CMS adminstration system</li>
<li>Sass for modularization of stylesheets and to ease cross-browser development.</li>
<li><a href="https://stripe.com">Stripe</a> for donation processing and event registration</li>
</ul>

{% endblock %}
