{% extends 'work/base.html' %}

{% block project_page_title %}North Fork Education Initiative{% endblock %}
{% block project_title %}North Fork Education Initiative{% endblock %}
{% block project_url %}http://northforked.org{% endblock %}
{% block project_year %}2011{% endblock %}

{% block project_content %}
<p>The North Fork Education Initiative is foundation created for Arts and Community blah blah blah</p>

<p>Mathematic was brought on for strategy, design and development.</p>

<p>Tooling used:</p>

<ul>
<li><a href="http://symfony.com">Symfony2</a> PHP Framework</li>
<li>Mathematic CMS adminstration system</li>
<li>Sass for modularization of stylesheets and to ease cross-browser development.</li>
<li><a href="https://stripe.com">Stripe</a> for donation processing and event registration</li>
</ul>

{% endblock %}
