{% extends 'layout.html' %}

{% block title %}About Mathematic - {% endblock %}

{% block content %}
    Stability and professionalism are the hallmarks of your development partner. Mathematic is an interactive development firm specialized in building, scaling and maintaining websites and web applications. 
Formed by Ryan Quigley, a technologist, developer and designer with over 15 years of experience, Mathematic is the firm called on to inspire confidence that your ideas will be realized without issue.


Place
A small seaside town on the tip of the North Fork, Greenport is a short hop away from Metropolitan New York...
    
    
    
{% endblock %}
