{%- if is_pjax -%}
    {% extends 'layout_pjax.html' %}
{%- else -%}
    {% extends 'layout.html' %}
    {% set meta_description = "Contact information for our New York and North Fork Offices." %}
{%- endif -%}

{% block title %}Contact Us - {% endblock %}

{% block body_class %}b_contact{% endblock%}

{% block content %}

<div class="wrapper main-content contact-content page-body grad_cont">
    <h1>Contact Us</h1>
    
    <div id="contact-map"></div>
    
    <div class="head">
        We'd love to hear from you
    </div>
    <div class="group">
        <div class="col col1 col-topped">
            <h3>New York</h3>
            P.O. Box 151<br>
            New York NY 10163-0151<br><br>
        </div>
        <div class="col col2 col-topped">
            <h3>North Fork</h3>
            517 Brown Street<br>
            Greenport, NY 11944<br><br>
        </div>
        <div class="col col3 col-topped">
            <h3>Get in Touch</h3>
            <span class="label icn icn_tel">Phone</span> (347) 586-9319<br>
            <span class="label icn icn_email">Email</span> <a href="mailto:info@mathematicinc.com" class="email">info@mathematicinc.com</a><br>
            {#<span class="label">Job Opportunities</span> <a href="mailto:jobs@mathematicinc.com" class="email">jobs@mathematicinc.com</a><br>#}
            <span class="label icn icn_twitter">Twitter</span> <a href="https://twitter.com/mathematicinc" class="email">@mathematicinc</a>
        </div>
    </div>
</div>
{% endblock %}
