{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="home-head">
    <div class="ss__cont">
        <div class="ss_slide ss_slide1">
            <div class="bg" style="background-image: url(/static/img/bg1.jpg)"></div>
            <div class="info">
                MAKERS
            </div>
        </div>
        <div class="ss_slide ss_slide2">
            <div class="bg" style="background-color: #009"></div>
            <div class="info">
                Slide 2
            </div>
        </div>
    </div>
    
</div>

<div class="wrapper main-content">
    Buidling, scaling and maintaining your ideas.
    {#We build web solutions using a variety News will go here#}
</div>
{% endblock %}
