{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="home-head">
    <div class="ss__cont">
        <div class="ss__slide ss__slide1">
            <div class="bg" style="background-image: url(/static/img/bg1.jpg)"></div>
            <div class="info">
                <a href="/work/makers/"><img src="/static/img/home/makers.png"></a>
            </div>
        </div>
        <div class="ss__slide ss__slide2">
            <div class="bg" style="background-image: url(/static/img/bg2.jpg)"></div>
            <div class="info">
                Slide 2
            </div>
        </div>
    </div>
    <a class="ss__prev"><span class="icn"></span></a>
    <a class="ss__next"><span class="icn"></span></a>

    <div class="ss__counter-cont">
        <div class="ss__counter">

        </div>
    </div>
</div>

<div class="wrapper main-content home-body">
    <h2>Hello. We're Mathematic, a digital development agency, specializing in <span class="emp">building</span>, <span class="emp">scaling</span> and <span class="emp">maintaining</span> your ideas.</h2>
    
    <div class="group">
        <div class="col">
            <h3>What We Do</h3>
            Back-end Development<br>
            Front-end Development<br>
            Startup Strategy<br>
            Security Audits<br>
            Scaling<br>
        </div>
        <div class="col">
            Subscribe to our mailing list
            <form action="/mailing-list" method="post">
                <input type="email" name="email">

                <p><input type="submit" value="Subscribe"></p>
            </form>
        </div>
    </div>

    {#We build web solutions using a variety News will go here#}
</div>
{% endblock %}
