<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<title>{% block title %} - {% endblock %}Mathematic</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ '/static/gen/css/site.css'|timestamped }}">

<script type="text/javascript" src="http://use.typekit.com/ybd6ymi.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
<div class="site-head">
    <div class="logo_cnt">
        <a href="/" class="logo_btn">Mathematic</a>
    </div>

    <div class="site-nav">
        <ul>
            <li><a href="{{ url_for('work') }}"><span data-title="Our Work">Our Work</span></a></li>
            <li><a href="{{ url_for('services') }}">Services</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            {#<li><a href="{{ url_for('blog') }}">Our Thinking</a></li>#}
        </ul>
    </div>
</div>

{% block head_content %}{% endblock%}

{% block content %}{% endblock %}

Follow us on twitter<br><br>
<footer class="group">
    <div id="contact" class="vcard">
        <div class="adr">
            <span class="locality">New York</span>,
            <abbr class="region" title="New York">NY</abbr>
        </div>
        <div class="adr">
            <span class="locality">Greenport</span>,
            <abbr class="region" title="New York">NY</abbr>
        </div>
        <a href="mailto:info@mathematicinc.com" class="email bg_lnk"><span data-title="info@mathematicinc.com">info@mathematicinc.com</span></a>
    </div>

    &copy; 2012 Mathematic LLC
</footer>

{% if 1 %}
    <script data-main="/static/js-src/main.js" src="/static/js-src/lib/require/require.js"></script>

{% else %}

{% endif %}

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-31512349-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
