{%- if is_pjax -%}
    {% extends 'layout_pjax.html' %}
{%- else -%}
    {% extends 'layout.html' %}
    {% set meta_description = "Services that we provide to our clients." %}
{%- endif -%}

{% block title %}Services - {% endblock %}

{% block body_class %}b_services{% endblock%}

{% block content %}
<div class="wrapper main-content page-body grad_cont services-content">
    <h1>Services</h1>
    <div class="head">
        We'll help you complete your project better and faster than ever before.
    </div>

    {#<p>Over the last 15 years, we've honed techniques for building scalable and performant systems. We're no

    <p>Working in Python (using Django, Flask and Pyramid) and PHP (using Symfony2), PostgreSQL and MySQL</p>#}

    <div class="group">
        <div class="submenu col-topped">
            <h3>Services</h3>
            <ul class="submenu-list">
                <li><a href="#back-end-development" class="lnk lnk-back-end-development">Back-end Development</a></li>
                <li><a href="#front-end-development" class="lnk">Front-end Development</a></li>
                <li><a href="#performance" class="lnk">Performance, Security and Scaling</a></li>
                <li><a href="#hosting" class="lnk">Hosting setup</a></li>
                <li><a href="#rapid-response" class="lnk">Rapid response</a></li>
                <li><a href="#design" class="lnk">Design</a></li>
                <li><a href="#strategy" class="lnk">Strategy</a></li>
            </ul>
        </div>

        <div class="scrolling-contents col-topped">
            <div class="service-cont content-back-end-development">
                <a class="target" name="back-end-development"></a>

                <h3>Back-end Development</h3>

                <p>We've built our business on Python, but select the right tool for the job based on your requirements, maintainability and capabilities. We pride ourselves on our ability to emphasize speed, security and maintainability. And while we have our technology stack preferences, our clients will maintain that we are able to get quickly caught up to speed on whatever the project requires.</p>

                <div class="group features">
                    <div class="col col1">
                        <h4>Our preferred back-end technologies</h4>
                        <p>We're not at all attached to these, but given our druthers, we prefer to use some of the following</p>
                    </div>

                    <div class="col col2">
                        <div class="proj-type">
                            <em>Rapid prototyping</em>
                            <ul>
                                <li>Python</li>
                                <li>Flask, Django (Python)</li>
                                <li>Postgres, Sqlite, MongoDB for Data</li>
                                <li>Heroku for deployment</li>
                            </ul>
                        </div>
                        <div class="proj-type">
                            <em>Small websites and applications</em>
                            <ul>
                                <li>Python, PHP</li>
                                <li>Django, Flask, Pyramid (Python)</li>
                                <li>Symfony2 (PHP)</li>
                                <li>Testing via unittest2, PHPUnit</li>
                                <li>Postgres, MySQL for Persistent Data</li>
                                <li>Memcached, Redis, Varnish for Caching</li>
                                <li>Heroku, AWS, Dedicated for hosting</li>
                                <li>Celery, Resque, SQS for asynchronous work</li>
                            </ul>
                        </div>
                        <div class="proj-type last">
                            <em>Large websites and applications</em>
                            <ul>
                                <li>Django, Flask, Pyramid (Python)</li>
                                <li>Symfony2 (PHP)</li>
                                <li>Testing via unittest2, PHPUnit</li>
                                <li>Postgres, MySQL for Persistent Data</li>
                                <li>Memcached, Redis, Varnish for Caching</li>
                                <li>AWS, Dedicated for hosting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-cont content-front-end-development">
                <a class="target" name="front-end-development"></a>
                <h3>Front-end Development</h3>
                <p>We utilize our intimate knowledge of design, UX and technology to build applications and websites that put users first. With the emergence of mobile browsers, there has been a transference of business logic from the back-end to the front-end. We've developed robust practices that transform our clients' vision into reality.</p>

                <div class="group features">
                    <div class="col col1">
                        <h4>Our preferred technologies</h4>
                        <p></p>
                    </div>

                    <div class="col col2">
                        <div class="proj-type last">
                            <ul>
                                <li>RequireJS/AMD module loading</li>
                                <li>Sass/LESS/Stylus</li>
                                <li>Unit testing via Qunit/Mocha</li>
                                <li>Integration testing via PhantomJS/CasperJS</li>
                                <li><a href="https://github.com/rquigley/memphis/">Memphis</a>, our homegrown utility framework</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-cont content-performance">
                <a class="target" name="performance"></a>
                <h3>Performance, Security and Scaling</h3>
                <p>In this day and age, there are no excuses for slow-loading websites. We start with analysis of your existing infrastructure and application codebase and quickly set up business and/or system instrumentation to find bottlenecks. We collect, analyze, and then propose potential solutions with full justification, benefits and rollout strategy.</p>

                <p>No site is completely secure, but using best-practices, you can mitigate that risk. We can audit your codebase and infrastructure and propose fixes that keep your users safe and your data secure.</p>
            </div>

            <div class="service-cont content-hosting">
                <a class="target" name="hosting"></a>
                <h3>Cloud, managed and dedicated hosting setup</h3>
                <p>We have a proven track record of setting up secure and performant hosting solutions for a wide range of properties. From small-serve boutique websites to platforms serving millions of viewers, we can select the correct platform for your needs and have you up and running.</p>

                <div class="group features">
                    <div class="col col1">
                        <h4>Our preferred hosting setup</h4>
                        <p></p>
                    </div>

                    <div class="col col2">
                        <div class="proj-type">
                            <em>Micro websites and applications</em>
                            <ul>
                                <li>Heroku</li>
                                <li>Memcached, Redis, flatfile for caching</li>
                                <li>Gunicorn for app hosting</li>
                            </ul>
                        </div>
                        <div class="proj-type last">
                            <em>Websites and applications</em>
                            <ul>
                                <li>AWS or dedicated hosting</li>
                                <li>Memcached, Redis, flatfile, Varnish for caching</li>
                                <li>Chef or Puppet for configuration management</li>
                                <li>Graphite/StatsD for application level monitoring</li>
                                <li>Ganglia for systems monitoring</li>
                                <li>Nagios for systems alerts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-cont content-rapid-response">
                <a class="target" name="rapid-response"></a>
                <h3>Rapid Response</h3>
                <p>With the project due yesterday, it's all hands on deck. We can step in, quickly get up to speed on your codebase and launch the site with the features you need.</p>
            </div>

            <div class="service-cont content-design">
                <a class="target" name="design"></a>
                <h3>Design</h3>

                <p>We thrive in the balance between technology and art. With the emergence of so many methods of access, the need to deliver amazing experiences across mobile, tablet and desktop devices is paramount.</p>
                <ul>
                    <li>UI/UX</li>
                    <li>Responsive and Liquid layouts</li>
                    <li>Mobile and Desktop</li>
                </ul>
            </div>

            <div class="service-cont content-strategy">
                <a class="target" name="strategy"></a>
                <h3>Strategy</h3>

                <p>We advise our clients on technology, UI and UX and base recommendations on current and future trends. Whether you are growing and looking to standardize on a development methodology and hosting platform or wanting to implement best-practices for your application, we can help.</p>
            </div>
        </div>

    </div>

</div>
{% endblock %}
