{% if is_pjax %}
    {% extends 'layout_pjax.html' %}
{% else %}
    {% extends 'layout.html' %}
{% endif %}

{% block title %}Our Work - {% endblock %}

{% block body_class %}b_work{% endblock%}

{% block content %}

<div class="wrapper main-content page-body grad_cont">
    <h1>Our Work</h1>

    <div class="head">
        We love the work that we've done. Here are the projects we can talk about.
    </div>

    {#<p>Front</p>#}

    <div class="group">
        {% for c in clients %}
            <a href="{{ url_for('work_client', client=c.url) }}" class="work-obj lnk-a">
                <span class="i" style="background-image: url(/static/img/work/{{ c.image_path }}/thumb.jpg)"></span>
                <span class="info">
                    <em>{{ c.client }}</em>
                    {{ c.project }}
                </span>
            </a>
        {% endfor %}

    </div>
</div>

{% endblock %}
